[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/UniswapV2PeripheryFoundryFriendly"]
	path = lib/UniswapV2PeripheryFoundryFriendly
	url = https://github.com/Behodler/UniswapV2PeripheryFoundryFriendly
